@model Principal.Models.Assignment

@{
    ViewBag.Title = "Nueva Asignación";
    Layout = "~/Views/Shared/_Intern.cshtml";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Extern";
}

<div>
    @using (Html.BeginForm("NewAssign", "Assign", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="row card m-1">
            <div class="col-md">
                <div class="row">
                    <div class="col-12 my-3">
                        <div class="row justify-content-center align-items-center">
                            <label for="tool_id" style="cursor: pointer;">Herramienta</label>

                            <div class="col-12">
                                @Html.DropDownList("tool_id", null, "Selecciona", htmlAttributes: new {
                               @class = "form-select"
                           })
                            </div>
                        </div>

                        <div class="">
                            <div class="mt-1">
                                @Html.ValidationMessageFor(model => model.tool_id, "", new
                                {
                                    @class = "text-danger"
                                })
                            </div>
                        </div>
                    </div>

                    <div class="col-12 my-3">
                        <div class="row justify-content-center align-items-center">
                            <label for="worker_id" style="cursor: pointer;">Trabajador</label>

                            <div class="col-12">
                                @Html.DropDownList("worker_id", null, "Selecciona", htmlAttributes: new {
                                    @class = "form-select"
                                })
                            </div>
                        </div>

                        <div class="">
                            <div class="mt-1">
                                @Html.ValidationMessageFor(model => model.worker_id, "", new {
                                    @class = "text-danger"
                                })
                            </div>
                        </div>
                    </div>

                    <div class="col-12 my-3">
                        <div class="row justify-content-center align-items-center">
                            <label for="delivery" style="cursor: pointer;">Entrega</label>

                            <div class="col-12">
                                @Html.TextBoxFor(model => model.delivery, htmlAttributes: new {
                                    @class = "form-control"
                                })
                            </div>
                        </div>

                        <div class="">
                            <div class="mt-1">
                                @Html.ValidationMessageFor(model => model.delivery, "", new {
                                    @class = "text-danger"
                                })
                            </div>
                        </div>
                    </div>

                    <div class="col-12 my-3">
                        <div class="row justify-content-center align-items-center">
                            <label for="retirement" style="cursor: pointer;">Retiro</label>

                            <div class="col-12">
                                @Html.TextBoxFor(model => model.retirement, htmlAttributes: new {
                                    @class = "form-control"
                                })
                            </div>
                        </div>

                        <div class="">
                            <div class="mt-1">
                                @Html.ValidationMessageFor(model => model.retirement, "", new {
                                    @class = "text-danger"
                                })
                            </div>
                        </div>
                    </div>

                    <div class="col-12 my-3">
                        <div class="row justify-content-center align-items-center">
                            <label for="description" style="cursor: pointer;">Descripción</label>

                            <div class="col-12">
                                @Html.TextBoxFor(model => model.description, htmlAttributes: new {
                                    @class = "form-control"
                                })
                            </div>
                        </div>

                        <div class="">
                            <div class="mt-1">
                                @Html.ValidationMessageFor(model => model.description, "", new {
                                    @class = "text-danger"
                                })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="my-3 d-flex justify-content-between">
                    <button class="btn btn-outline-success col-5">Guardar</button>
                    <a class="btn btn-outline-danger col-5" href="@Url.Action("AssignList", "Assign")">Atrás</a>
                </div>
            </div>
        </div>
    }
</div>