<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/996838bafa.js" crossorigin="anonymous"></script>
    <link rel="icon" type="image/x-icon" href="~/Icons/users-cog-solid.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="~/Styles/media.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div style="font-family: 'Rubik', sans-serif;">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <label class="navbar-brand">Managements</label>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        @if (ViewBag.ControllerCreate != null)
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Opciones
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    @switch (ViewBag.ControllerCreate)
                                    {
                                        case "Worker":
                                            <li><a class="dropdown-item" href="@Url.Action("NewWorker", "Worker")">Nuevo Trabajador</a></li>
                                            break;
                                        case "Assign":
                                            <li><a class="dropdown-item" href="@Url.Action("NewAssign", "Assign")">Nueva Asignación</a></li>
                                            break;
                                        case "Tool":
                                            <li><a class="dropdown-item" href="@Url.Action("NewTool", "Tool")">Nueva Herramienta</a></li>
                                            break;
                                    }
                                </ul>
                            </li>
                        }
                    </ul>

                    <div class="d-flex">
                        <a style="font-size: 16px; color: #000000; text-decoration: none;" href="@Url.Action(ViewBag.Action, ViewBag.Controller)">Ir a Menú Principal</a>
                    </div>
                </div>
            </div>
        </nav>

        <div class="d-flex justify-content-center my-3">
            <div class="col" style="max-width: 634.28px;">
                @RenderBody()
            </div>
        </div>
    </div>

    <script src="~/Scripts/umd/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>