@model IEnumerable<Principal.Models.Tool>

@{
    ViewBag.Title = "Lista de Herramientas";
    Layout = "~/Views/Shared/_Intern.cshtml";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Extern";
}

<div>
    <a href="@Url.Action("NewTool", "Tools")">Nueva Herramienta</a>

    @if (TempData["success"] != null)
    {
        <h5>@TempData["success"]</h5>
    }

    @if (TempData["error"] != null)
    {
        <h5>@TempData["error"]</h5>
    }

    <table border="1">
        <thead>
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var t in Model)
            {
                <tr>
                    <td>@t.id</td>
                    <td>@t.name</td>
                    <td>@t.description</td>
                    <td><a href="@Url.Action("ToolUpdate", "Tools", new { id = t.id })">Actualizar</a></td>
                    <td><a href="@Url.Action("ToolDelete", "Tools", new { id = t.id })">Eliminar</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>