@model Principal.Models.Tool

@{
    ViewBag.Title = "Nueva Herramienta";
    Layout = "~/Views/Shared/_Intern.cshtml";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Extern";
}

<div>
    @using (Html.BeginForm("NewTool", "Tool", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="row card m-1">
            <div class="col-md">
                <div class="row">
                    <div class="col-12 my-3">
                        <div class="row justify-content-center align-items-center">
                            <label for="name" style="cursor: pointer;">Nombre</label>

                            <div class="col-12">
                                @Html.TextBoxFor(model => model.name, htmlAttributes: new
                                {
                                    @class = "form-control"
                                })
                            </div>
                        </div>

                        <div class="">
                            <div class="mt-1">
                                @Html.ValidationMessageFor(model => model.name, "", htmlAttributes: new
                                {
                                    @class = "text-danger"
                                })
                            </div>
                        </div>
                    </div>

                    <div class="col-12 my-3">
                        <div class="row justify-content-center align-items-center">
                            <label for="description" style="cursor: pointer;">Descripción</label>

                            <div class="col-12">
                                @Html.TextBoxFor(model => model.description, htmlAttributes: new
                                {
                                    @class = "form-control"
                                })
                            </div>
                        </div>

                        <div class="row justify-content-center align-items-center">
                            <div class="col-12 mt-1">
                                @Html.ValidationMessageFor(model => model.description, "", htmlAttributes: new
                                {
                                    @class = "text-danger"
                                })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="my-3 d-flex justify-content-between">
                    <button class="btn btn-outline-success col-5">Guardar</button>
                    <a class="btn btn-outline-danger col-5" href="@Url.Action("ToolList", "Tool")">Atrás</a>
                </div>
            </div>
        </div>
    }
</div>