@model IEnumerable<Principal.Models.Tool>

@{
    ViewBag.Title = "Lista de Herramientas";
    Layout = "~/Views/Shared/_Intern.cshtml";
    ViewBag.ControllerCreate = "Tool";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Extern";
}

<div>
    @if (TempData["success"] != null)
    {
        <div class="d-block m-1">
            <div class="alert alert-success" role="alert">
                <div class="d-flex justify-content-between">
                    <div>
                        <i class="fas fa-check-circle"></i>
                        @TempData["success"]
                    </div>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
        </div>
    }

    @if (TempData["error"] != null)
    {
        <div class="d-block m-1">
            <div class="alert alert-danger" role="alert">
                <div class="d-flex justify-content-between">
                    <div>
                        <i class="fas fa-times-circle"></i>
                        @TempData["error"]
                    </div>

                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
        </div>
    }

    @if (Model.Count() > 0)
    {
        <div class="border rounded m-1 px-2">
            <table class="table mt-3 desktop">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Descripción</th>
                        <th scope="col" colspan="2" class="text-center">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var t in Model)
                    {
                        <tr>
                            <td>@t.id</td>
                            <td>@t.name</td>
                            @if (t.description.Length > 15)
                            {
                                <td><label>@t.description.Substring(0, 15)</label>...</td>
                            } else
                            {
                                <td>@t.description</td>
                            }
                            <td class="text-center">
                                <a class="btn btn-outline-primary d-inline" href="@Url.Action("ToolUpdate", "Tool", new { id = t.id })">Actualizar</a>
                                <a class="btn btn-outline-danger d-inline" href="@Url.Action("ToolDelete", "Tool", new { id = t.id })">Eliminar</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            <div class="pt-3 pb-3 px-1 movile">
                @foreach (var t in Model)
                {
                    <div class="d-flex justify-content-between p-1 py-2 border-bottom">
                        <label class="fw-bold">#</label>
                        <label>@t.id</label>
                    </div>

                    <div class="d-flex justify-content-between p-1 py-2 border-bottom">
                        <label class="fw-bold">Nombre</label>
                        <label>@t.name</label>
                    </div>

                    <div class="d-flex justify-content-between p-1 py-2 border-bottom">
                        <label class="fw-bold">Descripción</label>

                        @if (t.description.Length > 38)
                        {
                            <label><label>@t.description.Substring(0, 38)</label>...</label>
                        }
                        else
                        {
                            <label>@t.description</label>
                        }
                    </div>

                    <div class="d-flex justify-content-between p-1 py-2 border-bottom">
                        <label class="fw-bold">Acciones</label>
                        
                        <div>
                            <label><a class="btn btn-outline-primary d-inline" href="@Url.Action("ToolUpdate", "Tool", new { id = t.id })">Actualizar</a></label>
                            <label><a class="btn btn-outline-danger d-inline" href="@Url.Action("ToolDelete", "Tool", new { id = t.id })">Eliminar</a></label>
                        </div>
                    </div>
                }
            </div>
        </div>
    } else
    {
        <div class="my-5">
            <p class="text-center">No Se Encontraron Herramientas</p>
        </div>
    }
</div>